# Auto detect text files and perform LF normalization
* text=auto
GLFW[[:space:]]Stuff/glad/* linguist-vendored
GLFW[[:space:]]Stuff/KHR/* linguist-vendored
GLFW[[:space:]]Stuff/glad.c linguist-vendored
