#Directories
x64/*
.vs/*
GLFW Stuff/x64/*
build/*
out/*
.vscode/*

#Extra ide files
*.json

#Extra files
*.zip
*.wav
*.flac

#User files
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app
main
*.rar
